.dangnhap {
    width: 60px;
    padding: 50px;
    background: green;
    color: white;
    border-radius: 30%;
    font-size: 20px;
}

.container-0 {
    text-align: center;
    padding: 80px;
    margin: 0 auto;
    width: 500px;
    background: rgba(0, 128, 0, 0.308);
}

.container input {
    border: none;
    width: 100%;
    padding: 12px;
    border-bottom: 1px solid black;
    margin: 10px 0px;
}

.container button {
    width: 100%;
    padding: 12px;
    margin: 10px 0px;
    border-radius: 30px;
    background: skyblue;
    color: white;
    border: none;
}